      <h1>Пошук книги</h1>
      <form action="/search" method="get">
          <div class="input-field">
              <input type="search" id="search" name="search" class="materialize-textarea" required></input>
              <label for="search">Пошук</label>
              <span class="helper-text" data-error="Введите email"></span>
          </div>
          <button class="btn btn-primary" type="submit">Знайти</button>
      </form>