<h1>Що почитати?</h1>
{{#if data.length}}
<table>
    <thead>
        <tr>
            <th></th>
            <th>Назва книги</th>
            <th>Видалити</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td><i class="medium material-icons">bookmark</i></td>
            <td><a href="/books/{{isbn13}}">{{bookName}}</a></td>
            <td>
              <form action="/readlater/remove" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit"><i class="Medium material-icons">close</i></button>
              </form>  
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h5>В переліку нічого немає</h5>
{{/if}}